<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport"content="width=device-width, initial-scale=1.0"/>
        <link rel="stylesheet" href="/css/style.css" />
        <link rel="shortcut icon" href="./img/favicon.ico" type="image/x-icon">
        <title>Pokédex</title>
    </head>
    <body>
        </section>
        <header>
            <nav>
                <img id="pokeLogo"src="/img/pokemon-logo.png"alt=" logo"/>
                <ul>
                    <!-- <a href="#"><li id="navA"><p>Início</p></li></a> -->
                    <a href="/"><li id="navB"><p>Pokédex</p></li></a>
                    <a href="/cadastro"><li id="navC"><p>Cadastro</p></li></a>
                    <a href="/treinadores"><li id="navD"><p>Treinadores</p></li></a>
                </ul>
            </nav>
            <% if(message != "") {  %>
                <section id="message">
                    <p><%= message %></p> <span id="close">&times;</span>
                </section>
            <% }  %>
        </header>
        <main>
            <section id="gcard">
                <div id="pokedex">
                    <h2>Pokédex</h2>
                </div>
                <article>
                    <div id="pokemon">
                        <% pokedex.forEach((pokemon) => { %>
                            <a href="/detalhes/<%= pokemon.id %>">
                                <div class="card">
                                    <img class="imagem" src="<%=pokemon.imagem%>" alt="" width="120"/>
                                    <h2 class="nome"><%=pokemon.nome%></h2>
                                    <% pokemon.tipo.forEach((tipo) => { %>
                                        <h3 class="tipo"><%=tipo%></h3>
                                    <% })%>
                                </div>
                            </a>
                        <% }) %>
                    </div>
                </article>
		    </section>
	    </main>
        <footer>
            <p class="copyright">
                &copy;  Pokémon | Todos os direitos reservados - 2022
            </p>
        </footer>
        <script src="./js/script.js"></script>
    </body>
</html
